# ─── Base de datos (Supabase) ────────────────────────────────────────────────
DATABASE_URL="postgresql://postgres.mghqeczlnwjkkjhcvgwk:[TU_PASSWORD]@aws-1-us-west-2.pooler.supabase.com:6543/postgres?pgbouncer=true"
DIRECT_URL="postgresql://postgres:[TU_PASSWORD]@db.mghqeczlnwjkkjhcvgwk.supabase.co:5432/postgres"

# ─── Supabase (Frontend) ───────────────────────────────────────────────────────
VITE_SUPABASE_URL="https://mghqeczlnwjkkjhcvgwk.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im1naHFlY3psbndqa2tqaGN2Z3drIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzc1Nzk4ODksImV4cCI6MjA5MzE1NTg4OX0.hP4R9eEGHL1FtvlBR9hdGrp0QIThZ30jD_3ytrWKEZ8"
